html, body {
  height: 100%;
}

.dropdown-menu .show {
  right: 10%
}

body {
  background-image: url("/images/vortex_bg.png");
  /*background-size: 1920px 600px;*/
  background-repeat: no-repeat;
}

.white {
  color: white; 
}

.white-container {
  background-color: white;
}

.vortex-center {
  display: flex;
  justify-content: center;
}

.bottom {
  position: fixed;
  bottom: 0px;
}